//Variables de color
$mainColor: #f5f6fa;
$secondaryColor: #dcdde1;
$black: #2f3640;
$gray: #7f8fa6;
$primaryBlue: #192a56;
$secondaryBlue: #273c75;
$purple: #8c7ae6;
$secondaryPurple: #9c88ff;
$secondaryRed: #e84118;
$primaryRed: #c23616;
