@import "./vars";
@import "./fonts";

/*Selector universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: $fontMain;
  background-color: $mainColor;
}

@import "./index";
@import "./quizMain";
